.box {

    background-color: rgb(129, 186, 183);

    border: 2px solid black;

}
.container1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: azure;
}
.container1 a {
    text-align: center;
    padding: 15px;
    color: white
    text-decoration: none;
}
.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.container3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    background-color: aquamarine;
    padding: 20px;
}
.container3 a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.image {
    border: black 3px solid;
    padding: 10px;
}
main {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    padding: 20px
}

img {
    width: 100%;
    border: 2px solid black;
    border: 2px solid black;
}