.box1 {
    background-color: rgb(82, 82, 192);
    padding: 40px 20px 40px 20px;
    margin: 3rem 20px;
    border-color: darkblue;
    border-style: double;
    border-width: 0.5px;
}
.box2 {
    background-color: rgb(82, 188, 192);
    padding: 20px 40px 20px 40px;
    margin: 3rem 20px;
    border-color: rgb(0, 0, 0);
    border-style: dashed;
    border-width: 2px;
}
img {
    text-align: center;
    border-radius: 10px;
    border-color: black;
    border: 30px;
}
h2 {
    text-align: center;
}
figcaption {
    font-size: x-large;
    text-align: left;
    color: rgb(68, 8, 124);
    line-height: 40px;
}
#pic {
    border: 20px;
    border-color: crimson;
    border-radius: 10px;
    float: left;
}
header {

}
nav {

}
a:link {

}
a:visited {

}
a:hover {

}
a:focus {

}
a:active {
    
}